

td{
    text-align: center;
    vertical-align:center;
}

th{
    text-align: center;
    vertical-align:center;
}

.body {
    background-color: gold;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 10px;
}

.h3 {
    color: blue;
    margin: 10px 10px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-size: medium;
}

.btn {
    background-color: blue;
}

